PROJECT_NAME=PromptMaster API
APP_VERSION=1.0.0
ENVIRONMENT=development
API_V1_PREFIX=/api/v1
ALLOWED_ORIGINS=http://localhost:3000
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
GEMINI_API_KEY=
DEFAULT_LLM_MODEL=gemini-2.5-flash
